.faq {
  padding-top: 60px;
  padding-bottom: 70px;
}

.faq__subtitle {
  text-align: center;
  font-family: "Proxima-Nova", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 160%;
  color: #1a232e;
  margin-bottom: 20px;
}

.faq__list {
  max-width: 1210px;
  margin: 0 auto;
}

.faq__content {
  display: none;
}

.faq__item {
  border-radius: 3px;
  color: #848994;
  margin-bottom: 10px;
}

.faq__heading {
  padding: 10px;
  display: block;
  cursor: pointer;
  font-family: "Proxima-Nova", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 20px;
  color: #1a232e;
}

.faq__heading::after {
  content: "+";
  float: right;
}

.faq__content {
  padding: 20px;
  padding-top: 10px;
  padding-right: 40px;
}

/* .faq__item:hover,
.faq__item:active {
  background-color: #eef2f7;
} */

input:focus ~ label,
input:hover ~ label,
input:active ~ label {
  background-color: #eef2f7;
}

.faq__item :checked + .faq__heading::after {
  content: "−";
}

.faq__item :checked ~ .faq__content {
  display: block;
}

@media (max-width: 1220px) {
  .faq__list {
    max-width: 980px;
  }
}

@media (max-width: 1024px) {
  .faq__list {
    max-width: 812px;
  }
}

@media (max-width: 812px) {
  .faq__list {
    max-width: 667px;
  }
}

@media (max-width: 667px) {
  .faq__list {
    max-width: 412px;
  }
}

@media (max-width: 412px) {
  .faq__heading {
    font-size: 16px;
    padding: 10px 0;
  }

  .faq__list {
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .faq__list {
    max-width: 280px;
  }
}
