.footer {
  background-color: #eef2f7;
  padding: 90px;
}

.footer__subtitle {
  text-align: center;
  font-family: "Proxima-Nova", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 160%;
  color: #1a232e;
  margin-bottom: 60px;
}

.footer__list--top,
.footer__list--bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer__list--top {
  max-width: 1120px;
  margin-bottom: 20px;
}

.footer__list--bottom {
  max-width: 865px;
}


.footer__list--top .footer__item:nth-child(1) {
  width: 100px;
  height: 19px;
  background: url("../img/sprites-logos.png") -140px -182px;
}

.footer__list--top .footer__item:nth-child(2) {
  width: 95px;
  height: 16px;
  background: url("../img/sprites-logos.png") -117px -224px;
}

.footer__list--top .footer__item:nth-child(3) {
  width: 174px;
  height: 27px;
  background: url("../img/sprites-logos.png") -10px -10px;
}

.footer__list--top .footer__item:nth-child(4) {
  width: 143px;
  height: 19px;
  background: url("../img/sprites-logos.png") -10px -99px;
}

.footer__list--top .footer__item:nth-child(5) {
  width: 114px;
  height: 24px;
  background: url("../img/sprites-logos.png") -10px -138px;
}

.footer__list--top .footer__item:nth-child(6) {
  width: 53px;
  height: 52px;
  background: url("../img/sprites-logos.png") -204px -66px;
}

.footer__list--bottom .footer__item:nth-child(1) {
  width: 153px;
  height: 22px;
  background: url("../img/sprites-logos.png") -10px -57px;
}

.footer__list--bottom .footer__item:nth-child(2) {
  width: 82px;
  height: 36px;
  background: url("../img/sprites-logos.png") -204px -10px;
}

.footer__list--bottom .footer__item:nth-child(3) {
  width: 87px;
  height: 30px;
  background: url("../img/sprites-logos.png") -10px -224px;
}

.footer__list--bottom .footer__item:nth-child(4) {
  width: 110px;
  height: 22px;
  background: url("../img/sprites-logos.png") -10px -182px;
}

.footer__list--bottom .footer__item:nth-child(5) {
  width: 78px;
  height: 24px;
  background: url("../img/sprites-logos.png") -204px -138px;
}
