.header {
  background-color: #1a232e;
  padding-top: 50px;
}

.offering {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offering__logo {
  padding-bottom: 25px;
}

.offering__title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

.offering__description {
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 25px;
}

/* offering__toggle */

.offering__offering__toggle-wrap {
  position: relative;
}

.offering__btn {
  position: relative;
  width: 335px;
  height: 35px;
  overflow: hidden;
}

.offering__btn.b2 {
  border-radius: 2px;
}

.offering__offering__btns,
.offering__knobs,
.offering__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.offering__toggle {
  overflow: visible;
}

.offering__toggle .offering__knobs {
  perspective: 140px;
}

.offering__toggle .offering__knobs:before,
.offering__toggle .offering__knobs:after,
.offering__toggle .offering__knobs span {
  position: absolute;
  top: 4px;
  border-radius: 2px;
}

.offering__toggle .offering__knobs:before,
.offering__toggle .offering__knobs:after {
  /* width: 64px; */
  height: 10px;
  top: 10px;
  color: #4e4e4e;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
}

.offering__toggle .offering__knobs:before {
  content: "Individual membership";
  left: 20px;
  top: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}

.offering__toggle .offering__knobs:after {
  content: "Group membership";
  right: 32px;
  top: 4px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  color: #ffffff;
}

.offering__toggle .offering__knobs span {
  top: 5px;
  right: 5px;
  width: 163px;
  height: 25px;
  background-color: #555e6d;
  transform: rotateY(0);
  transform-origin: 0% 50%;
  transition: 0.6s ease all;
  z-index: -100;
}

.offering__toggle .offering__checkbox:checked + .offering__knobs span {
  left: 5px;
  background-color: #555e6d;
}

.offering__toggle .offering__checkbox:checked ~ .offering__layer {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 2px;
}

.offering__checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 300;
}

.offering__knobs {
  z-index: 200;
}

.offering__layer {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  transition: 0.3s ease all;
  z-index: 100;
}

@media (max-width: 412px) {
  .offering__title {
    font-size: 22px;
  }

  .offering__description {
    font-size: 16px;
  }

  .offering__btn {
    width: 280px;
  }

  .offering__toggle .offering__knobs span {
    width: 135px;
  }

  .offering__toggle .offering__knobs:after {
    right: 16px;
  }

  .offering__toggle .offering__knobs:before {
    left: 6px;
  }
}
